body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9aa3ba;
    line-height: 26px;
}

.wrap {
    max-width: 1110px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
/* Заголовки */
h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
    max-width: 540px;
    line-height: 1.1;
    letter-spacing: -2.5px;
    margin-bottom: 65px;
}
.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 1.2;
    letter-spacing: -1.5px;
    margin-bottom: 76px;
}
.title-h2 span {
    display: block;
    /* line-height: 1.2; */
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

/* page-header */

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
}
.nav>li {
    padding: 0 18.9px;
    letter-spacing: 2.6px;
}
.nav-item {
    color: #6e7ea9;
}
/* a:hover {
    color: gold;
} */
/* .grid-item:nth-child(3) {
    color: gold;
    background: gray;
} */

.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 21px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border: 1px solid #1085e4;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
    /* border: 1px solid #1085e4; */
}

.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 21px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border: 1px solid #cbdbe8;
}
.btn-secondary:hover {
    background-color: #fff;
}

.btn-group a+a{ /*только для второго а после первого а*/
    margin-left: 15px;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 1.6px;
    padding: 21px 55px;
}
.btn-subscribe {
    font-size: 14px;
    padding: 14px 43px;
    letter-spacing: 2.9px;
}
.btn-learn-more {
    padding: 21px 62px;
    letter-spacing: 2.5px;
}
.btn-info {
    color: #8085b1;
    background: transparent; /*прозрачный фон*/
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 21px 62px;
    border-radius: 30px;
    letter-spacing: 2.3px;
}
.btn-info-blue {
    color: #fff;
    background-color: #1085e4;
}

/* page-grid */
.grid p {
    color: #7581a1;
    font-weight: 400;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-item p {
    font-size: 16px;
    font-weight: 600;
    color: #7581a1;
}

.quote span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}

.quote p {
    color: #1085e4;
    font-size: 14px;
}

/* page-subscribe */

.page-subscribe span {
    font-size: 14px;
    color: #00bffe;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff
}

.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
}

.page-subscribe input {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
    background-color: #10359f;
}

.page-subscribe input::placeholder {
    color: #b1c3ee;
}

/* page-software */

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}

.page-software dd {
    font-size: 14px;
    font-weight: 400;
    color: #7581a1;
}

/* page-stat */

.page-stat {
    background-color: #edf6ff;
    padding: 115px 0 95px 0;
}
.page-stat .title-h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    margin-bottom: 76px;
}   
.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.list-stat>li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-align: center;
}
.page-stat li span {
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
    letter-spacing: 0px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

/* page-app */

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-app p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-app span {
    display: block;
    color: #c4d2dd;
    font-weight: 700;
    text-transform: uppercase;
}

/* page-suit */

.page-suit h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-suit p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

/* page-etid-control */

.page-etid-control h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-etid-control p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

/* page-screen */
.page-screen, .page-plan {
    text-align: center;
}

.page-screen span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    margin-bottom: 27px;
}
.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
    letter-spacing: -1.2px;
}
.screen {
    margin-top: 49px;;
    margin-bottom: -10px;
}

/* page-plan */
/* 32% page-plan flex-basis */

.title-h2 span{
    font-size: 18px;
    letter-spacing: 3.5px;  
    margin-bottom: 21px;
}
.title-h2 {
    font-size: 39px;
    letter-spacing: -0.7px;
}
.box-price {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.plan1 h3:first-child {
    margin-bottom: 35px;
}
.box-price-item {
    background-color: #f5faff;
    flex-basis: 32%;
    padding: 90px 0 96px 0;
    position: relative;
}
.box-price-item h3 {
    color: #000958;
    font-size: 70px;
    letter-spacing: -1px;
    margin-bottom: 15px;
    margin-top: 0px;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item p {
    font-size: 14px;
    color: #0084ff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.box-price-item h3 span:first-child {
    color: #000958;
}
.box-price-item.active h3 span:first-child {
    color: #fff;
}
.box-price-item.active h3 {
    color: #fff;
}
.box-price-item h3 span:last-child {
    color: #7b8ab2;
}
.box-price-item.active {
    background-color: #152b59;
    color: #fff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 39px;
    margin-bottom: 60px;
    font-size: 14px;
}
.box-price-item ul>li {
    margin-bottom: 14px;
}
.box-price-item::after {
    content: "";
    /* width: 350px; */
    width: 58px;
    height: 100%;
    /* background-image: url(../img/box-price-pic.png); */
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.box-price-item.active::after {
    display: none;
}

/* Background */

.page-screen {
    padding: 80px 0 0 0;
}