body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #9aa3ba;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

/* page-header */

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

/* a:hover {
    color: gold;
} */
/* .grid-item:nth-child(3) {
    color: gold;
    background: gray;
} */

.btn-primary {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    padding: 21px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border: 1px solid #1085e4;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;
    /* border: 1px solid #1085e4; */
}

.btn-secondary {
    color: #7e8bae;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    padding: 21px 41px;
    border-radius: 30px;
    letter-spacing: 2.4px;
    border: 1px solid #cbdbe8;
}
.btn-secondary:hover {
    background-color: #fff;
}

.btn-group a+a{ /*только для второго а после первого а*/
    margin-left: 15px;
}

.btn-free {
    font-weight: 400;
    letter-spacing: 1.6px;
    padding: 21px 55px;
}
.btn-subscribe {
    font-size: 14px;
    padding: 14px 43px;
    letter-spacing: 2.9px;
}
.btn-learn-more {
    padding: 21px 62px;
    letter-spacing: 2.5px;
}
.btn-info {
    color: #8085b1;
    background: transparent; /*прозрачный фон*/
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 21px 62px;
    border-radius: 30px;
    letter-spacing: 2.3px;
}
.btn-info-blue {
    color: #fff;
    background-color: #1085e4;
}

/* page-grid */
.grid p {
    color: #7581a1;
    font-weight: 400;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid-item p {
    font-size: 16px;
    font-weight: 600;
    color: #7581a1;
}

.quote span {
    font-size: 16px;
    font-weight: 700;
    color: #192b59;
}

.quote p {
    color: #1085e4;
    font-size: 14px;
}

/* page-subscribe */

.page-subscribe span {
    font-size: 14px;
    color: #00bffe;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff
}

.page-subscribe p {
    font-size: 18px;
    font-weight: 400;
    color: #dfe8ff;
}

.page-subscribe input {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
    background-color: #10359f;
}

.page-subscribe input::placeholder {
    color: #b1c3ee;
}

/* page-software */

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-software p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-software dt {
    font-size: 16px;
    font-weight: 700;
    color: #5a6789;
}

.page-software dd {
    font-size: 14px;
    font-weight: 400;
    color: #7581a1;
}

/* page-stat */

.page-stat span {
    font-size: 16px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
}

.page-stat h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-stat li {
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    text-transform: uppercase;
    list-style-type: none;
}

.page-stat ul span {
    font-size: 50px;
    font-weight: 700;
    color: #bacbdc;
}

/* page-app */

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-app p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

.page-app span {
    display: block;
    color: #c4d2dd;
    font-weight: 700;
    text-transform: uppercase;
}

/* page-suit */

.page-suit h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-suit p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

/* page-etid-control */

.page-etid-control h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
}

.page-etid-control p {
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
}

/* page-screen */

.page-screen span {
    font-size: 18px;
    font-weight: 800;
    color: #1085e4;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color: #192b59;
}